<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTCCServiceMediaLibrary</key>
	<string>컨텐츠 재생을 위해 접근합니다.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>컨텐츠 재생을 위해 접근합니다.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>frontPlateVariable</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
